{{ attach_library('pipeline_run/admin') }}

{{ pipeline_edit_link|raw }}

<table>
  <thead>
  <tr>
    <th>{{ 'Description'|t }}</th>
    <th>{{ 'Step Type'|t }}</th>
    <th>{{ 'Additional Info'|t }}</th>
    <th>{{ 'Status'|t }}</th>
    <th>{{ 'Duration'|t }}</th>
    <th>{{ 'Data'|t }}</th>
  </tr>
  </thead>
  <tbody>
  {% for step_uuid, step in steps %}
    <tr>
      <td>{{ step.step_description }}</td>
      <td>{{ step.step_type }}</td>
      <td>{{ step.additional_info }}</td>
      <td class="pipeline-step-status pipeline-step-status--{{ step.status|clean_class }}">{{ step.status }}</td>
      <td>{{ step.duration }} {{ 'seconds'|t }}</td>
      <td>
        <details>
          <summary>{{ 'View Data'|t }}</summary>
          <pre><code class="json">{{ step.data|escape }}</code></pre>
        </details>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
